* {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
}
.header {
    /* background-color: #414045; */
    background-image: url("../img/unsplash_zcx5ztIjQAM.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 340px;
    flex-direction: column;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0)), url("../img/unsplash-image-zcx5ztIjQAM.jpg");
   
}
.header1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-principal{
    width: 90%;
    height: auto;
    /* margin-left: 1rem; */
}
.btn-ig{
    background-color: rgba(255,145,36);
    border-radius: 12px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 2rem;
}
.btn-ig:hover{
    box-shadow: 0 4px 16px rgb(202, 116, 30);
  transition: all 0.2s ease;
}
p, h2, a{
    font-family: 'Arvo', serif;
    letter-spacing: 0.07em;

}
h2 {
    color: rgb(124, 50, 50);
    margin: 3rem;
    font-size: 4rem;
}
span p {
    font-size: 2rem;
    
}
.main{
    margin: 3rem 0rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.div-img {
    padding: 0rem 1rem;
}
.img-main{
   width: 400px;
   height: auto;
   max-width: 90%;
    margin-bottom: 4rem;

}
a {
    text-decoration: none;
    color: white;
    letter-spacing: 0.03em;
}
hr {
    width: 70%;
    border-color: rgb(116, 116, 116);
    border-radius: 15px;
    margin-bottom: 5rem;
}
.p-pizzetas{
    color: white;
    font-size: 3rem;
    margin-bottom: 2rem;
    font-weight: 700;
}
.items{
    color: white;
    font-family: 'Arvo', serif;
    padding: 0.5rem;
}
.items1{
    font-family: 'Arvo', serif;
    padding: 0.5rem;
    color: orange;
}
.price-pizzetas {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 6rem;
}
.rows {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-style: solid;
    border-color: white;
    border-bottom-width: 1.5px;
}
.footer{
    display: flex;
    padding: 0 0.4rem;
    justify-content: center;
    flex-direction: column;
}
.pie-pagina{
    display: flex;
    justify-content: center;
    margin: 1rem;
}
.pie-pagina1 {
    color: white;
    margin: 1rem;
    letter-spacing: 1.7px;
    line-height: 26px;
}

.btn-wsp {
    position: fixed;
    width: 70px;
    height: 70px;
    line-height: 70px;
    bottom: 30px;
    right: 30px;
    background: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 40px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
}
.btn-wsp:hover{
    text-decoration: none;
    color: #0df053;
    background: #fff;
}
