* {
    margin: 0;
    padding: 0;
}
.body {
    background-color: black;
}
.header {
    /* background-color: #414045; */
    background-image: url("../img/unsplash_zcx5ztIjQAM.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 340px;
    flex-direction: column;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0)), url("../img/unsplash-image-zcx5ztIjQAM.jpg");
   
}
.img-principal{
    width: 100%;
    height: auto;
}
.btn-ig{
    background-color: rgba(255,145,36);
    border-radius: 12px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 2rem;
}
.btn-ig:hover{
    box-shadow: 0 4px 16px rgb(202, 116, 30);
  transition: all 0.2s ease;
}
p, h2 {
    font-family: 'Chivo', sans-serif;
}
h2 {
    color: rgb(124, 50, 50);
    margin: 3rem;
    font-size: 4rem;
}
span p {
    font-size: 2rem;
    
}
.main{
    margin: 3rem 0rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.div-img {
    padding: 0rem 1rem;
}
.img-main{
   width: 400px;
   height: auto;
   max-width: 90%;


}
a {
    text-decoration: none;
    color: white;
}
hr {
    width: 80%;
    border-color: rgb(116, 116, 116);
    border-radius: 15px;
}
.p-pizzetas{
    color: white;
    font-size: 3rem;
    margin-bottom: 1rem;
}